<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analaysis</h1>
    <form action="/predict" method="post">
        <label>Write text :</label>>
        <textarea name="text" rows="10" cols="40"></textarea><br>
        <input type="submit" value="Predict">
    </form>

    {% if result is not none %}
            {% if result == 1 %}
                <h2>Happy</h2>
            {% else %}
                <h2>Sad</h2>
            {% endif %}
        {% endif %}
</body>
</html>