name: CI Pipeline
on: push
jobs:
  code-testing:
    runs-on: ubuntu-latest
    steps:
    - name: code checkout
      uses: actions/checkout@v3

    - name: python setup
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Cache pip dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: install dependencies
      run: |
        pip install -r requirements.txt

    - name: run pipeline
      env: 
        DAGSHUB_PAT: ${{secrets.DAGSHUB_PAT}}
      run: |
        dvc repro

    - name: Run model test
      env: 
        DAGSHUB_PAT: ${{ secrets.DAGSHUB_PAT }}
      run: |
        python -m unittest test/test_model.py

    - name: Promote model to production
      env:
        DAGSHUB_PAT: ${{ secrets.DAGSHUB_PAT }}
      run: python scripts/promote_model.py
