name: CI Pipeline
on: push
jobs:
  code-testing:
    runs-on: ubuntu-latest
    steps:
    - name: code checkout
      uses: actions/checkout@v3

    - name: python setup
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: install dependencies
      run: |
        pip install -r requirements.txt

    - name: run pipeline
      env: 
        DAGSHUB_PAT: ${{secrets.DAGSHUB_PAT}}
      run: |
        dvc repro
